#user-detail-page {
  .ios & {
    ion-content {
      // compensate for the tab bar
      --offset-bottom: -85px !important;
    }
  }

  .md & {
    ion-toolbar {
      --background: var(--ion-color-primary);
      --color: var(--ion-color-primary-contrast);
    }
  }

  .user-image {
    margin-top: 10px;
    position: relative;
    height: 117px;
    img {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 117px;
      height: 117px;
      border-radius: 100%;
    }

    ion-icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: -14px;
      font-size: 24px;
      color: white;
      background-color: var(--ion-color-primary);
      border-radius: 100%;
      border: 4px solid var(--ion-color-light-tint);
    }
  }

  .user-info {
    margin-top: 28px;
    ion-item {
      --padding-start: 16px;
      --padding-end: 16px;
    }
  }

  .list-section {
    margin-top: 56px;
    padding: 0 10px 0 10px;

    h4 {
      font-size: 18px;
      font-weight: 600;
    }

    ion-list {
      ion-list-header {
        padding: 0;
        font-size: 18px;
        font-weight: 600;
      }

      ion-item {
        --padding-start: 6px;
        --padding-end: 6px;

        ion-label {
          line-height: 160%;
          font-size: 16px;
        }
      }
    }

    ion-button.button-block {
      margin-top: 20px;
    }
  }
}
