.product-list {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
}

.product-list::-webkit-scrollbar {
  display: none;
}

ion-card {
  scroll-snap-align: center;
  margin: 0 8px 0 0;
  box-shadow: none;
  min-width: 250px;

  img {
    border-radius: 16px;
  }
  &.ion-activated {
    transform: none;
  }
}
#shop-page h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000;
}
ion-card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}
ion-card-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
